:root {
  --Tomato: hsl(4, 100%, 67%);
  --DarkSlateGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--DarkSlateGrey);
}
.out{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 50%;
    margin: 0 auto;
    flex-flow:row nowrap;
    border: 1em solid red;
}
img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.container {
padding: 1em;
}
